<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-WPXHW53973"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WPXHW53973');
      </script>
    <!---Favicons start-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='Favicons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='Favicons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='Favicons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='Favicons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='Favicons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='Favicons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='Favicons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='Favicons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='Favicons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='Favicons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='Favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='Favicons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='Favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='Favicons/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='Favicons/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <!---Favicons end-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    <link href="../static/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='lib/jquery.waypoints.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="text/javascript">
$(window).scroll(function() {
    $('.graphic_1').each(function(){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
        if (imagePos < topOfWindow+400) {
        $(this).addClass("ltr-anime");
        }
    });
});

$('.fade').css('visibility', 'hidden');
    </script>

    <title>404: Page not found.</title>
    </head>

    <body>
        <header class="header">
            <a href="/"><img src="https://cdn.discordapp.com/avatars/736283988628602960/b558212e5a66f7b25192116c212c381c.webp?size=1024" width="50px" height="50px" style="border-radius:10px; margin-left:20px; margin-top:1.5%"></a>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <div class="h_links fade" id="header">
                <a href="/">Home</a>
                <a href="/status">Status</a>
                <a href="/docs">Docs</a>
                <div class="h_login">Login</div>
                <a href="javascript:void(0);" class="icon" onclick="toggleIcon()">
                  <i class="fa fa-bars"></i>
                </a>
            </div>
        </header>
        <div class="bg_grad">
            <div class="fof-container">
                <div class="fof-text">
                    <p class="fof-text-p">
                        404
                    </p>
                </div>
                <div class="fof-subtext">
                    <p class="fof-subtext-p">
                        page not found
                    </p>
                </div>
                <div class="fof-footer">
                    <div class="fof-command-suggestions">
                        <p class="fof-command-suggestions-p">
                            Something went wrong- most likely at our end. Fear not tho-
                        </p>
                    </div>
                    <div class="fof-link-suggestions-text">
                        <p class="fof-link-suggestions-text-p">
                            here are some links to help you get back home,
                        </p>
                    </div>
                    <div class="fof-link-suggestions">
                        <p class="fof-links"><a href="/">Home</a></p>
                        <p class="fof-links"><a href="/#features">Features</a></p>
                        <p class="fof-links"><a href="/commands">Commands</a></p>
                        <p class="fof-links">Contact</p>
                        <p class="fof-links">Support</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
        //Discord widgetbot
         new Crate({
            server: '766428259188604969', // Hurb Support
            channel: '788407517143105626' // #live-support-channel
        })
        </script>
        <script>
        function toggleIcon() {
            var x = document.getElementById("header");
            if (x.className === "h_links") {
                x.className += " responsive";
            } else {
                x.className = "h_links";
            }
        }
        </script>
    </body>
</html>
